In [17]:
import scipy.stats as staty
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
TempPulz = pd.read_csv('TempPulz.csv')
TempPulz

     TEMPERATURA  SPOL  PULZ
0           96.3     1    70
1           96.7     1    71
2           96.9     1    74
3           97.0     1    80
4           97.1     1    73
..           ...   ...   ...
125         99.3     2    68
126         99.4     2    77
127         99.9     2    79
128        100.0     2    78
129        100.8     2    77

[130 rows x 3 columns]

In [18]:
temperature = TempPulz[['TEMPERATURA', 'SPOL']]
temperature

     TEMPERATURA  SPOL
0           96.3     1
1           96.7     1
2           96.9     1
3           97.0     1
4           97.1     1
..           ...   ...
125         99.3     2
126         99.4     2
127         99.9     2
128        100.0     2
129        100.8     2

[130 rows x 2 columns]

In [19]:
def pretvori(stopinje_fahrenheita):
    return 5*(stopinje_fahrenheita-32)/9
def pretvori_std(stopinje_fahrenheita):
    return 5*(stopinje_fahrenheita)/9

In [20]:
print('\n a) Ocenite povprečje in standardni odklon za telesno temperaturo posebej pri'
    'moških in posebej pri ženskah. \n')
n = 65
alpha = 0.05
moški = temperature[temperature['SPOL'] == 1]['TEMPERATURA']
ženske = temperature[temperature['SPOL'] == 2]['TEMPERATURA']
povp_m = np.average(moški)
povp_ž = np.average(ženske)
povp_mC= pretvori(povp_m)
povp_žC= pretvori(povp_ž)
std_m = np.sqrt((n/(n-1))*staty.moment(moški, 2))
std_ž = np.sqrt((n/(n-1))*staty.moment(ženske, 2))
std_mC = pretvori_std(std_m)
std_žC = pretvori_std(std_ž)

print('Povprečje telesne temperature pri moških je {0}°F (oz. {1}°C), pri ženskah pa {2}°F (oz. {3}°C).'
      'Standardni odklon pri moških znaša {4}°F (oz. {5}°C), pri ženskah pa {6}°F (oz. {7}°C).'.format(povp_m,
    povp_mC, povp_ž, povp_žC, std_m, std_mC, std_ž, std_žC))

 a) Ocenite povprečje in standardni odklon za telesno temperaturo posebej primoških in posebej pri ženskah.

Povprečje telesne temperature pri moških je 98.10461538461539°F (oz. 36.72478632478632°C), pri ženskah pa 98.39384615384614°F (oz. 36.885470085470075°C).Standardni odklon pri moških znaša 0.698755762326591°F (oz. 0.388197645736995°C), pri ženskah pa 0.7434877527313665°F (oz. 0.4130487515174258°C).

In [21]:
print('\n b) Za povprečji iz prejšnje točke določite 95% intervala zaupanja. \n')
normalna_inv = staty.norm.isf(alpha/2)
student_inv = staty.t.isf(alpha/2, n-1)
odstop_apr_moški = standardni_odklon_moški*normalna_inv/np.sqrt(n)
odstop_apr_ženske = standardni_odklon_ženske*normalna_inv/np.sqrt(n)
odstop_eks_moški = standardni_odklon_moški*student_inv/np.sqrt(n)
odstop_eks_ženske = standardni_odklon_ženske*student_inv/np.sqrt(n)
apr_moški_zg = povprecje_moški + odstop_apr_moški
apr_moški_sp = povprecje_moški - odstop_apr_moški
apr_ženske_zg = povprecje_ženske + odstop_apr_ženske
apr_ženske_sp = povprecje_ženske - odstop_apr_ženske
eks_moški_zg = povprecje_moški + odstop_eks_moški
eks_moški_sp = povprecje_moški - odstop_eks_moški
eks_ženske_zg = povprecje_ženske + odstop_eks_ženske
eks_ženske_sp = povprecje_ženske - odstop_eks_ženske
print('Aproksimativna intervala zaupanja: \n moški: ({0}°F, {1}°F) \n ženske: ({2}°F, {3}°F)'.format(
    apr_moški_sp, apr_moški_zg, apr_ženske_sp, apr_ženske_zg))
print('Eksaktna intervala zaupanja: \n moški: ({0}°F, {1}°F) \n ženske: ({2}°F, {3}°F)'.format(
    eks_moški_sp, eks_moški_zg, eks_ženske_sp, eks_ženske_zg))
############################################################################################################
print('\n c) Preizkusite domnevo, da imajo moški in ženske v povprečju enako telesno temperaturo. \n')

 b) Za povprečji iz prejšnje točke določite 95% intervala zaupanja.

Aproksimativna intervala zaupanja:
 moški: (97.93474533444997°F, 98.2744854347808°F)
 ženske: (98.21310159521335°F, 98.57459071247894°F)
Eksaktna intervala zaupanja:
 moški: (97.93147218445704°F, 98.27775858477374°F)
 ženske: (98.20961890918224°F, 98.57807339851004°F)

 c) Preizkusite domnevo, da imajo moški in ženske v povprečju enako telesno temperaturo.