In [33]:
import scipy.stats as staty
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
TempPulz = pd.read_csv('TempPulz.csv')
TempPulz

     TEMPERATURA  SPOL  PULZ
0           96.3     1    70
1           96.7     1    71
2           96.9     1    74
3           97.0     1    80
4           97.1     1    73
..           ...   ...   ...
125         99.3     2    68
126         99.4     2    77
127         99.9     2    79
128        100.0     2    78
129        100.8     2    77

[130 rows x 3 columns]

In [34]:
temperature = TempPulz[['TEMPERATURA', 'SPOL']]
temperature

     TEMPERATURA  SPOL
0           96.3     1
1           96.7     1
2           96.9     1
3           97.0     1
4           97.1     1
..           ...   ...
125         99.3     2
126         99.4     2
127         99.9     2
128        100.0     2
129        100.8     2

[130 rows x 2 columns]

In [35]:
def pretvori(stopinje_fahrenheita):
    return 5*(stopinje_fahrenheita-32)/9
def pretvori_std(stopinje_fahrenheita):
    return 5*(stopinje_fahrenheita)/9

In [36]:
print('\n a) Ocenite povprečje in standardni odklon za telesno temperaturo posebej pri'
    'moških in posebej pri ženskah. \n')
n = 65
moški = temperature[temperature['SPOL'] == 1]['TEMPERATURA']
ženske = temperature[temperature['SPOL'] == 2]['TEMPERATURA']
povp_m = np.average(moški)
povp_ž = np.average(ženske)
povp_mC = pretvori(povp_m)
povp_žC = pretvori(povp_ž)
std_m = np.sqrt((n/(n-1))*staty.moment(moški, 2))
std_ž = np.sqrt((n/(n-1))*staty.moment(ženske, 2))
std_mC = pretvori_std(std_m)
std_žC = pretvori_std(std_ž)

print('Povprečje telesne temperature pri moških je {0}°F (oz. {1}°C), pri ženskah pa {2}°F (oz. {3}°C).'
      'Standardni odklon pri moških znaša {4}°F (oz. {5}°C), pri ženskah pa {6}°F (oz. {7}°C).'.format(povp_m,
    povp_mC, povp_ž, povp_žC, std_m, std_mC, std_ž, std_žC))

 a) Ocenite povprečje in standardni odklon za telesno temperaturo posebej primoških in posebej pri ženskah.

Povprečje telesne temperature pri moških je 98.10461538461539°F (oz. 36.72478632478632°C), pri ženskah pa 98.39384615384614°F (oz. 36.885470085470075°C).Standardni odklon pri moških znaša 0.698755762326591°F (oz. 0.388197645736995°C), pri ženskah pa 0.7434877527313665°F (oz. 0.4130487515174258°C).

In [37]:
print('\n b) Za povprečji iz prejšnje točke določite 95% intervala zaupanja. \n')
alpha = 0.05
normalna_inv = staty.norm.isf(alpha/2)
student_inv = staty.t.isf(alpha/2, n-1)
apr_m = std_m*normalna_inv/np.sqrt(n)
apr_ž = std_ž*normalna_inv/np.sqrt(n)
eks_m = std_m*student_inv/np.sqrt(n)
eks_ž = std_ž*student_inv/np.sqrt(n)
apr_m_zg = povp_m + apr_m
apr_m_sp = povp_m - apr_m
apr_ž_zg = povp_ž + apr_ž
apr_ž_sp = povp_ž - apr_ž
eks_m_zg = povp_m + eks_m
eks_m_sp = povp_m - eks_m
eks_ž_zg = povp_ž + eks_ž
eks_ž_sp = povp_ž - eks_ž
print('Aproksimativna intervala zaupanja: \n moški: ({0}°F, {1}°F) oz. ({2}°C, {3}°C)'
      '\n ženske: ({4}°F, {5}°F) oz. ({6}°C, {7}°C)'.format(apr_m_sp, apr_m_zg, pretvori(apr_m_sp), 
        pretvori(apr_m_zg), apr_ž_sp, apr_ž_zg, pretvori(apr_ž_sp), pretvori(apr_ž_zg)))
print('Eksaktna intervala zaupanja: \n moški: ({0}°F, {1}°F) oz. ({2}°C, {3}°C)'
      '\n ženske: ({4}°F, {5}°F) oz. ({6}°C, {7}°C)'.format(eks_m_sp, eks_m_zg, pretvori(eks_m_sp), 
        pretvori(eks_m_zg), eks_ž_sp, eks_ž_zg, pretvori(eks_ž_sp), pretvori(eks_ž_zg)))

 b) Za povprečji iz prejšnje točke določite 95% intervala zaupanja.

Aproksimativna intervala zaupanja:
 moški: (97.93474533444997°F, 98.2744854347808°F) oz. (36.63041407469443°C, 36.81915857487822°C)
 ženske: (98.21310159521335°F, 98.57459071247894°F) oz. (36.785056441785194°C, 36.98588372915496°C)
Eksaktna intervala zaupanja:
 moški: (97.93147218445704°F, 98.27775858477374°F) oz. (36.628595658031685°C, 36.82097699154096°C)
 ženske: (98.20961890918224°F, 98.57807339851004°F) oz. (36.783121616212355°C, 36.987818554727795°C)

In [38]:
print('\n c) Preizkusite domnevo, da imajo moški in ženske v povprečju enako telesno temperaturo. \n')

se = np.sqrt((std_m*std_m + std_ž*std_ž)/n)
T = (povp_m - povp_ž)/se
abs_T = abs(T)

print('Vrednost testa je {0}, absolutna vrednost pa {1}'.format(T, abs_T))

alpha = 0.05
pogoj = staty.t.isf(alpha/2, n-1)
print(str(pogoj))
if abs_T < pogoj:
    print('Pri 0.05 hipotezo sprejmemo')
else:
    print('Pri 0.05 hipotezo ovržemo')
alpha = 0.01
pogoj = staty.t.isf(alpha/2, n-1)
print(str(pogoj))
if abs_T < pogoj:
    print('Pri 0.01 hipotezo sprejmemo')
else:
    print('Pri 0.01 hipotezo ovržemo')
print('ENOSTRANSKI TEST')
alpha = 0.05
pogoj = -staty.t.isf(alpha, n-1)
print(str(pogoj))
if T > pogoj:
    print('Pri 0.05 hipotezo sprejmemo')
else:
    print('Pri 0.05 hipotezo ovržemo')
alpha = 0.01
pogoj = -staty.t.isf(alpha, n-1)
print(str(pogoj))
if T > pogoj:
    print('Pri 0.01 hipotezo sprejmemo')
else:
    print('Pri 0.01 hipotezo ovržemo')

 c) Preizkusite domnevo, da imajo moški in ženske v povprečju enako telesno temperaturo.

Vrednost testa je -2.2854345381654984, absolutna vrednost pa 2.2854345381654984
1.9977296536259739
Pri 0.05 hipotezo ovržemo
2.654854342721057
Pri 0.01 hipotezo sprejmemo
ENOSTRANSKI TEST
-1.6690130248403527
Pri 0.05 hipotezo ovržemo
-2.386037046069385
Pri 0.01 hipotezo sprejmemo